<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('domestic.static', filename='css/style.css') }}">
  <title>국내 현황</title>
</head>
<body>
  <section class="domestic">
    <nav class="domestic_nav">
      <div class="domestic_nav_bg">
        <a href="#">국외</a>
      </div>
    </nav>

    <div class="domestic_sidebar">
      <ul class="domestic_sidebar_tag">
        <li><a href="#">버튼1</a></li>
        <li><a href="#">버튼1</a></li>
        <li><a href="#">버튼1</a></li>
        <li><a href="#">버튼1</a></li>
        <a href="#" class="go-to-top">맨 위로</a>
      </ul>
    </div>

    <article class="covid-domestic-map">
      <div class="map-container" style="height: 500px; width: 1000px">
        {{ map_html | safe }}
      </div>
    </article>
  </section>
</body>
</html>