<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('worldwide.static', filename='css/worldwide.css') }}">

</head>
<body>
  <nav>
    임시네비
  </nav>
  
  <main>
    <!-- 왼쪽 국가 리스트 -->
    <section class="left-content">
      <!-- 데이터 업데이트날짜 -->
      <article class="update-day">
        <p>최신 업데이트 날짜</p>
        <p>{{records[0][0].date_reported}} 11:00</p>
        <p>
          <strong>확진자</strong>
          <span>| 사망자</span>
        </p>
      </article>
      
      <!-- 검색창 부분 -->
      <article class="search-box">
        <input type="search" name="search" id="">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </article>

      <!-- 나라 리스트 -->
       <article class="country-list">
        <ul>
          {% for record in records %}
          <li>
              <p>
                  <!-- 국가명: CountryTranslation의 country_korean -->
                  <strong>{{ record[1].country_korean }}</strong>
                  {% set country_percentage = country_percentages | selectattr('country', 'equalto', record[0].country) | list %}
                  {% if country_percentage %}
                      <span>| 일일 감염비율 <span>{{ country_percentage[0].percentage }}%</span></span>
                  {% else %}
                      <span>| 일일 감염비율 <span>0%</span></span>
                  {% endif %}
              </p>
              <p>
                  <strong>일간현황</strong>
                  <span>
                      <!-- 일일 신규 감염 및 사망 데이터: WhoData의 new_cases 및 new_deaths -->
                      <strong>{{ record[0].new_cases }}</strong>
                      <small>| {{ record[0].new_deaths }}</small>
                  </span>
              </p>
              <p>
                  <strong>누적현황</strong>
                  <span>
                      <!-- 누적 감염 및 사망 데이터: WhoData의 cumulative_cases 및 cumulative_deaths -->
                      <strong>{{ record[0].cumulative_cases }}</strong>
                      <small>| {{ record[0].cumulative_deaths }}</small>
                  </span>
              </p>
          </li>
          {% endfor %}
          
         </ul> 
       </article>
    </section>

<!-- ---------------------------------------------- -->

    <!-- 가운데 국가 지도 -->
    <section class="middle-content">
      <!-- 상단 전세계 일간현황 -->
      <article class="world-wide-daily">
        <h2>전세계 일간 현황</h2>
        <div class="world-count">
          <div class="daily-covid">
            <select id="date-select">
              <option value="yesterday">어제</option>
              <option value="today" selected>오늘</option>
              <option value="tomorrow">내일(예측)</option>
            </select>
            <div class="daily-covid-box">
              <div>
                <p>확진자</p>
                <p class="new-cases">1,450,604 명</p>
                <p class="new-cases-change">( 500,403 ▲)</p>
              </div>
              <div>
                <p>완치자</p>
                <p class="new-recovered">1,450,604 명</p>
                <p class="new-recovered-change">( 500,403 ▲)</p>
              </div>
              <div>
                <p>사망자</p>
                <p class="new-deaths">1,450,604 명</p>
                <p class="new-deaths-change">( 500,403 ▲)</p>
              </div>
            </div>
          </div>
          <div class="all-day-covid">
            <div class="column title-column">
              <h3>총 확진자</h3>
              <h3>총 완치자</h3>
              <h3>총 사망자</h3>
            </div>
            <div class="column data-column">
              <div class="data-row">
                <span class="total-cases">111,450,604 명</span>
                <span class="total-cases-change">(500,405 ▲)</span>
              </div>
              <div class="data-row">
                <span class="total-recovered">12,506,402 명</span>
                <span class="total-recovered-change">(20,405 ▼)</span>
              </div>
              <div class="data-row">
                <span class="total-deaths">500,402명</span>
                <span class="total-deaths-change">( 544,203 ▲)</span>
              </div>
            </div>
          </div>
        </div>
      </article>

      <!-- 지도 -->
      <article class="covid-map">
        <div id="map-container" style="height: 400px;">
          
          {{ map_html|safe }}
        </div>
      </article>

      <!-- 그래프 -->
      <article class="graph-box">
        <div class="graph-btn">
          <button>원형 그래프</button>
          <button>막대 그래프</button>
          <button>점선 그래프</button>
        </div>
        <div class="graph-views">
          <div class="graph-view">그래프영역1</div>
          <div class="graph-view">그래프영역2</div>
          <div class="graph-view">그래프영역3</div>
        </div>
      </article>
    </section>

<!-- ---------------------------------------------- -->


    <!-- 오른쪽 크롤링 뉴스-->
    <section class="right-content">
      <div class="right-tab-btn">
        <div>관련 뉴스</div>
        <div>기능 </div>
      </div>
      크롤링 영역입니다.
    </section>
  </main>

  <script src="https://kit.fontawesome.com/c0680c70ea.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('worldwide.static', filename='js/worldwide.js') }}"></script>
</body>
</html>